.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: white;
  padding: 92px 50px 96px; 
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-content: space-between; 
  }

.header__links-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 35px;   
}

.header__links-list-item_no-bullit {
   list-style-type: none;
   text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px; 
  height: 105px; 
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width:240px;
  font-style: normal;
}

.cover {
   padding: auto;
   background-image: url(../images/cover.jpg);
   
   background-size: 100%;
   background-color: white;
   min-height: 757px;
   position: relative;
  background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
  
   
  
   
}

.overlay {
   position: absolute;
   bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  
}
.cover__title {
text-transform:uppercase;
color: #FFFFFF;
font-family: 'Raleway';
font-weight: 700;
font-size: 100px;
line-height: 115%;
word-spacing:10px;
position: absolute;
z-index: 2;

}

.aligned-text {
  display: block; 
  letter-spacing: 30px;
    
}
  
.letter-spacing-extended {
    word-spacing: 20px;
   
}

.aligned-text_left {
  text-align: left;
  padding: 165px 764px 10px 50px;
  }

.aligned-text_center {
  text-align: center;
  
}

.aligned-text_right {
  text-align: right;
  padding-right: 50px;
  
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 656px;
  padding-left: 50px;
  padding-right: 50px;

}

.cover__description-text {
text-transform:uppercase;
color: #FFFFFF;
font-family: 'Raleway';
font-weight: 400;
font-size: 22px;
line-height: 28px;



}




.bet-button {
  background-color: transparent;
  width: 256px;
  height: 51px;
  left: 794px;
  top: 656px;
  text-transform:uppercase;
border-color: #FFFFFF;
color: #FFFFFF;
font-family: 'Raleway';
font-weight: 400;
font-size: 22px;
line-height: 28px;
}

  









.description {
  padding: auto;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
   
}

.description-image {
  background-size: cover;
}



.lots {
     background-color: white;
     padding-top: 180px;
     
}

.lots__heading {
  text-transform: uppercase;
   margin-bottom: 27px;
   margin-left: 64px;
}

.lots__card-list {
  list-style: none;
  gap: 25px;
  display: flex;
  flex-direction:row;
   flex-wrap: wrap;  
   margin-left: 24px;
    
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  
   
}

.lots__look-more-link {
  display: block;
margin-top: 30px;
  margin-left: 64px;
  text-transform: lowercase;
  

  
  
  
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
  
}

.card {
  height: 100%;
  padding: 28px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  margin: 0;
   text-transform: uppercase;
  text-decoration: underline;



height: 82px;

font-weight: 700;
font-size: 22px;
line-height: 26px;


color: #FFFFFF;


}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  margin: 0;
   

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;


}

.card_type_film {
  background-size: cover;
  background-position: center;
  
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
  background-size: cover;
  background-position: center;
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-size: cover;
  background-position: center;
  
  background-image: url(../images/card-lot-03.jpg);
}

.about {
   padding-top: 120px; 
   background-color: white;
  display: grid;
  grid-template-columns: 334px 1fr;

}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 136px;
  height: 102px;
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
font-size: 40px;
line-height: 47px;



}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
  
font-weight: 400;
font-size: 20px;
line-height: 24px;



}

.footer {
   
   background-color: white;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: start; 
   padding-top: 180px;

}

.footer__address {
  justify-self: start;
}

.footer__menu-list {
  text-align: center;
}

.footer__social-list-item{
  list-style: none;
}

.footer__menu-list-item{
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}