.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: white;
  padding: 92px 50px 96px;
    
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-content: space-between;  
}

.header__links-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 13px;   
}

.header__links-list-item_no-bullit {
   list-style-type: none;
   text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px; 
  height: 105px; 
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width:240px;
}

.cover {
   padding: auto;
   background-image: url(../images/cover.jpg);
   
   background-size: 100%;
   background-color: white;
   min-height: 757px;
   position: relative;
  background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
  
   
  
   
}

.overlay {
   position: absolute;
   bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  
}
.cover__title {
text-transform:uppercase;
color: #FFFFFF;
font-family: 'Raleway';
font-weight: 700;
font-size: 100px;
line-height: 115%;
word-spacing:10px;
position: absolute;
z-index: 2;

}

.aligned-text {
  display: block; 
    
}
  
.letter-spacing-extended {
    word-spacing: 5px;
}

.aligned-text_left {
  text-align: left;
  padding: 165px 764px 10px 50px;
  }

.aligned-text_center {
  text-align: center;
  padding: 100px 381px 10px 380px;
}

.aligned-text_right {
  text-align: right;
  padding: 10px 50px 207px 663px;
}

.cover__description {
  display: inline-block;
  

}

.cover__description-text {
text-transform:uppercase;
color: #FFFFFF;
font-family: 'Raleway';
font-weight: 400;
font-size: 22px;
line-height: 28px;
position: absolute;
z-index: 2;


}




.bet-button {
  position: absolute;
z-index: 2;
}









.description {
  padding: auto;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
   
}

.description-image {
  background-size: cover;
}



.lots {
     background-color: white;
}

.lots__heading {
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-direction: row;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  
}

.lots__look-more-link {
  text‑transform: lowercase;
}

.card-link {
  width: 100%;
}

.card {
  width: 100%;
}

.card_type_film {
  background-size: cover;
  background-position: center;
  width: 334px;
  height: 596px;
   position: relative;
  background-image: url(./images/card-lot-01.jpg);
}

.card_type_book{
  background-size: cover;
  background-position: center;
  background-image: url(./images/card-lot-02.jpg);
}

.card_type_picture {
  background-size: cover;
  background-position: center;
  background-image: url(./images/card-lot-03.jpg);
}

.about {
   padding: auto;
   background-color: white;
}

.footer {
   padding: auto;
   background-color: white;
}